<!-- Modal -->
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="experimentalModal" aria-label="Close"><span aria-hidden="true"><i class="icon fa fa-close fa-4"></i></span></button>
        <h4 class="modal-title font-bold" id="experimentalModalLabel">Warning – Experimental</h4>
      </div>
      <div class="modal-body">
        Hello. This site is extremely experimental and is a work in progress. From time to time you may see that certain parts do not work or have missing content. If you'd like to make me aware of anything, please email me at <a href="mailto:hey@geofflyman.com" target="_blank">hey@geofflyman.com</a>.
      </div>

    </div>
  </div>

<style>
  .modal {
    top: auto;
  }
  .modal-dialog {
      width: 99%;
      margin: 12px auto;
  }
</style>