/*.border-right {
	border-right: 5px solid white;
	left: 40px;
}*/

.border-right {
    position: relative;
    border-radius: 6px;
    width: 3px;
    height: 500px;
    background-color: white;
    float: left;
    margin: 0 30px 0 15px;
    bottom: 10px;
    display: none;
    padding: 1px;

    @include breakpoint(med){
    	display:block;
    }

}