$drk-gry: #58595B;
$lte-gry: #DBDCDD;
$drk-purple: #201624;
$lte-purple: #5B4C70;
$sweet-green: #489179;
$mint: #6EBDA2;
$cyan: #4891A5;
$peach: #DC9C6E;
$sweet-red: #ED5966;
$in: #006CD3;
$fb: #296493;
